
.sidebarContainer {
    padding-top: 40px;
    padding-inline: 40px 20px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebarUL {
    margin-bottom: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebarUL > * {
    height: 5vh;
}

.linkHeader {
    font-size: 23px;
    color: var(--main-color);
    font-weight: 700;
    font-family: -apple-system, sans-serif;
}

.styledSidebarLink:hover > svg,
.currentLink > svg {
    transition: 0.25s all linear;
    margin-right: 0.5rem;
    border-radius: 5px;
    padding: 0.40rem;
    width: 32px;
    height: 32px;
    filter: invert(100%);
    background-color: black;
    fill: white;
}

.styledSidebarLink > svg {
    transition: 0.25s all linear;
    margin-right: 0.5rem;
    border-radius: 5px;
    background-color: #2d2d2d;
    padding: 0.40rem;
    width: 32px;
    height: 32px;
}

.currentLink {
    color: var(--main-color);
    margin: 0.10rem 0;
    display: flex;
    align-items: center;
}

.styledSidebarLink {
    color: var(--main-color);
    margin: 0.10rem 0;
    display: flex;
    align-items: center;
}