
.container {
    padding: 1rem !important;
}

.gameDetailsContainer {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.15;
}

.gameTitle {
    font-size: 5rem;
}

.gameDescription > div {
    padding: 1rem 2.5rem;
}

.gameDescription > div > h3 {
    display: flex;
    align-items: center;
}

.gameDescription > div > h3 > svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.gameDescription > div > div {
    margin-left: 2.5rem;
}

.attributeValue {
    margin-top: 1rem;
}

.attributeValue > span {
    margin-left: 0.5rem;
    background-color: #333;
    box-shadow: 3px 4px 8px #222;
    padding: 5px 10px;
    border-radius: 5px;
}

#tagValues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#tagValues > span {
    width: fit-content;
}

.screenshotContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.screenshotContainer > img {
    border-radius: 16px;
    width: 100%;
}

.screenshotContainer > h3 {
    font-weight: normal;
    margin-top: 1rem;
}

.screenshotGrid {
    /*padding: 1rem;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
}

.screenshotGrid > img {
    border-radius: 16px;
    width: 100%;
}

.screenshotGrid > h3 {
    font-weight: normal;
    margin-top: 1rem;
}