
.container {
    padding: 1rem !important;
}

.gameDetailsContainer {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.15;
}

.gameTitle {
    font-size: 5rem;
}

.gameDescription > div {
    padding: 1rem 2.5rem;
}

.gameDescription > div > h3 {
    display: flex;
    align-items: center;
}

.gameDescription > div > h3 > svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.gameDescription > div > div {
    /*margin-left: 2.5rem;*/
}

.gameDesc {
    padding: 2rem;
    width: 95%;
}

.gameDesc > p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.attributeValue {
    margin-top: 1rem;
}

.attributeValue > span {
    margin-left: 0.5rem;
    background-color: #333;
    box-shadow: 3px 4px 8px #222;
    padding: 5px 10px;
    border-radius: 5px;
}

#tagValues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#playContainer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#tagValues > span {
    width: fit-content;
}

.screenshotContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

.screenshotContainer > img {
    border-radius: 16px;
    width: 100%;
}

.screenshotContainer > h3 {
    text-align: center;
    font-weight: normal;
    margin: 1rem 0;
}

.screenshotGrid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 95%;
}

.screenshotGrid > .gridContainer > img {
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
    height: 80%;
}

.screenshotGrid > .gridContainer > h3 {
    font-weight: normal;
    margin: 1rem 0;
}

.reviewGrid {
    margin-top: 1rem;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.reviewValue {
    padding: 1rem;
    background: rgba(33, 33, 33, 0.5);
    box-shadow: 0 8px 32px 0 rgba(50, 50, 50, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.reviewValue > h4 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.usernameAccordian {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    margin-right: 1rem;
    padding: 0.75rem;
    border-radius: 100%;
    background-color: white;
    color: black;
}

.notThere{
    padding: 1rem;
}