.userNameAccordian {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    margin-left: 1rem;
    border-radius: 100%;
    background-color: var(--comp-bg-c);
}

.userNameAccordian:hover {
    border-bottom: none;
}

.formContainer > form {
    padding: 0 2.5rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.formInput {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 500px;
    height: 50px;
    border: none;
    background: rgba(0, 0, 0, .3);
    color: #fff;
}

.formInput:focus {
    border: none;
    outline: none;
}

.formLabel {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.formLabel > svg {
    margin-right: 0.75rem;
}

.button {
    display: block;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .3s, color .3s, border .3s, fill .3s, box-shadow .2s ease-out, opacity .2s ease-out, -webkit-box-shadow .2s ease-out;
}

.buttonMedium {
    width: 500px;
    height: 50px;
    padding: 0 20px;
    font-size: 18px;
    -webkit-box-shadow: 0 0 20px 0 hsla(0, 0%, 100%, .2);
    box-shadow: 0 0 20px 0 hsla(0, 0%, 100%, .2);
}

.buttonFill {
    background-color: #fff;
    color: #000;
}

.buttonFill:hover {
    background-color: #ccc;
}